{# templates/formation/create.html.twig #}

{% extends 'template.html.twig' %}

{% block body %}
    <h1>Create Formation</h1>

    {{ form_start(form) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.finalDate) }}
    {{ form_row(form.adress) }}
    {{ form_row(form.employes) }}
    <div class="form-group">
        {{ form_widget(form.submit) }}
        {{ form_widget(form.reset) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
