{% extends 'base.html.twig' %}

{% block title %}AttendanceRecord index{% endblock %}

{% block body %}
    <h1>Attendance sheet </h1>

    <ul>
        <li><div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> </span>
                <h3 >Nom :
                
                <h4 class="timeline-header no-border">{{user.nom}}  {{user.prenom}}</h4>
              </div>
              </li>
              <li>
             

    <table class="table">
    <h3>List Attendance</h3>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for attendance_record in attendance_records %}
            <tr>
                <td>{{ attendance_record.month }}</td>
                <td>{{ attendance_record.year }}</td>
                <td><table > <thead><tr><td>TypeD'absence</td></tr></thead> <tbody>{%for att in attendance_record.attendancess %}<tr> <td>{{att.typeOfAttendace}}</td></tr>{%endfor%}</tbody></table></td>
                <td>
                    <a href="{{ path('app_attendance_record_show', {'id': attendance_record.id}) }}">show</a>
                    <a href="{{ path('app_attendance_record_edit', {'id': attendance_record.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table></li>
    </ul>

    <a href="{{ path('app_attendance_record_new') }}">Create new</a>
{% endblock %}
