{% extends 'template.html.twig' %}

{% block title %}LeaveRequest index{% endblock %}

{% block body %}
    <h1>LeaveRequest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>SortedDate</th>
                <th>ReturnedDate</th>
                <th>NumberOfDayLeaved</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for leave_request in leave_requests %}
            <tr>
                <td>{{ leave_request.id }}</td>
                <td>{{ leave_request.createdAt ? leave_request.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ leave_request.SortedDate ? leave_request.SortedDate|date('Y-m-d') : '' }}</td>
                <td>{{ leave_request.returnedDate ? leave_request.returnedDate|date('Y-m-d') : '' }}</td>
                <td>{{ leave_request.numberOfDayLeaved }}</td>
                <td>
                    {% if showButton %}
                        <a href="{{ path('app_leave_request_accept', {'id': leave_request.id}) }}">accept</a>
                        <a href="{{ path('app_leave_request_refuse', {'id': leave_request.id}) }}">refuse</a>
                    {% endif %}
                    <a href="{{ path('app_leave_request_show', {'id': leave_request.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_leave_request_new') }}">Create new</a>
{% endblock %}
