{% extends 'base.html.twig' %}

{% block title %}Attendance index{% endblock %}

{% block body %}
    <h1>Attendance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdateAt</th>
                <th>TypeOfAttendace</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for attendance in attendances %}
            <tr>
                <td>{{ attendance.id }}</td>
                <td>{{ attendance.CreatedAt ? attendance.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ attendance.UpdateAt ? attendance.UpdateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ attendance.typeOfAttendace ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_attendance_show', {'id': attendance.id}) }}">show</a>
                    <a href="{{ path('app_attendance_edit', {'id': attendance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_attendance_new') }}">Create new</a>
{% endblock %}
